@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


#root {
    display: flex;
    flex-direction: column;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    background-color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

  /* Dark mode styles */
  body.dark-mode {
    background-color:white;
    
  }
  
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.heading {
    @apply my-8 font-semibold text-3xl text-primary;
}

.logo {
    font-family: 'Poppins', sans-serif;
}
nav ul:active {
    color: rgb(220 38 38);
}

/* Container for the slides */
/* Container for the slides */
.slides {
    display: flex; /* Ensure slides are in a row */
    transition: transform 1s ease-in-out; /* Smooth sliding effect */
    width: 100%; /* Ensure the container takes full width */
}

/* Individual slide */
.slide {
    flex: 0 0 100%; /* Each slide takes 100% of the container width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1; /* Initially visible */
    transition: opacity 1s ease-in-out; /* Smooth opacity transition */
}



ul>a :active {
    color: rgb(220 38 38);
    border-bottom: 2px solid rgb(220 38 38);
}

.active {
    border-bottom: 2px solid red;
}

.custom-gradient {
    background: linear-gradient(to right, #ff7f7f, #ff0000);
    /* Adjust colors as needed */
}

.custom-footer-gradient {
    background: linear-gradient(to right, #ff7f7f, #ff0000);
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 1.8rem;
    z-index: 10;

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #ca0b0bcc;
    /* Darker on hover */
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    bottom: 50%;
    /* Adjust this depending on the height of your div */
    left: 50%;
    transform: translate(-50%, 50%);
    animation: slideUp 1s ease-out forwards;
}